/*
$breakpoint argument choices:
- phone <600px  ---> 37.5em
- tab-port 600-900px --> 56.25em
- tab-land 900-1200px   ---> 75em    
  //project designed for 1200-1800px
- bg-desktop >1800px --> 112.5em
1em = 16px

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 28.125em) {
    html {
      font-size: 40%; } }

body {
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
  font-weight: 300;
  color: #2f3e46;
  line-height: 1.6;
  background-color: rgba(202, 210, 197, 0.5);
  height: 100vh; }
  body::-webkit-scrollbar {
    width: 1.2rem; }
  body::-webkit-scrollbar-track {
    background: #cad2c5; }
  body::-webkit-scrollbar-thumb {
    background-color: #2f3e46;
    border-radius: 2px;
    height: 40vh; }

[id^="section"] {
  scroll-snap-align: start; }

::selection {
  background-color: #2f3e46;
  color: #cad2c5; }

.about {
  min-height: 110vh;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .about {
      min-height: max-content; } }
  .about__heading {
    margin-top: 2rem;
    padding: 2rem 0;
    display: inline-block;
    margin-left: 50vw; }
  .about__photo {
    width: 55vh;
    position: absolute;
    left: 1%;
    top: 14%;
    z-index: 10;
    filter: contrast(0.85) drop-shadow(0 1rem 2rem rgba(0, 0, 0, 0.5)); }
    @media only screen and (max-width: 56.25em) {
      .about__photo {
        display: none; } }
  .about__shape {
    position: absolute;
    left: 0;
    top: 60%;
    width: 100%;
    height: 44vh;
    background-color: #2f3e46;
    clip-path: polygon(0 50%, 100% 25%, 100% 100%, 0 100%);
    z-index: -1; }
    @media only screen and (max-width: 56.25em) {
      .about__shape {
        display: none; } }

.description {
  width: 63vw;
  position: absolute;
  left: 32vw;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 56.25em) {
    .description {
      width: 100%;
      left: auto;
      position: static;
      padding: 2rem 4rem;
      margin-bottom: 4rem; } }
  .description__box {
    width: 80%;
    border-radius: 2px;
    text-align: end;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 68.75em) {
      .description__box {
        margin-bottom: 1.5rem; } }
    @media only screen and (max-width: 56.25em) {
      .description__box {
        margin-bottom: 3rem; } }
    .description__box--1 {
      background-color: rgba(169, 149, 132, 0.7); }
    .description__box--2 {
      background-color: rgba(132, 169, 140, 0.7);
      align-self: flex-end; }
    .description__box--3 {
      background-color: rgba(132, 141, 169, 0.7); }
  .description__text {
    font-size: 2rem;
    padding: 2.5rem 7rem; }
    @media only screen and (min-width: 112.5em) {
      .description__text {
        padding: 4rem 8rem; } }
    @media only screen and (max-width: 56.25em) {
      .description__text {
        padding: 5rem 7rem; } }

.contact {
  background-image: linear-gradient(to right bottom, rgba(132, 141, 169, 0.9), rgba(107, 115, 138, 0.9));
  min-height: 105vh;
  display: grid;
  grid-template-rows: auto min-content min-content 1fr;
  grid-template-columns: 1fr 55vw 1fr 20vw; }
  @media only screen and (max-width: 56.25em) {
    .contact {
      grid-template-columns: 1fr 70vw 1fr;
      min-height: max-content; } }
  @media only screen and (max-width: 43.75em) {
    .contact {
      grid-template-columns: 1fr 80vw 1fr; } }
  .contact__heading {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: start;
    color: #263238;
    margin-bottom: 3rem;
    margin-top: 2rem; }
  .contact__tab {
    grid-column: 4/5;
    grid-row: 1/-1;
    background-image: linear-gradient(rgba(132, 141, 169, 0.5), rgba(132, 141, 169, 0.5)), url(../img/daisy.jpg);
    background-size: cover; }
    @media only screen and (max-width: 56.25em) {
      .contact__tab {
        display: none; } }

.address {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 37.5em) {
    .address {
      flex-direction: column; } }
  .address__medium, .address__medium:link, .address__medium:visited {
    text-decoration: none;
    font-size: 2.3rem;
    color: #263238;
    font-weight: 300;
    margin-right: 2rem;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 50em) {
      .address__medium, .address__medium:link, .address__medium:visited {
        font-size: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .address__medium:not(:last-child) {
      margin-bottom: 2rem; } }
  .address__icon {
    width: 3.5rem;
    height: 3.5rem;
    fill: currentColor;
    margin-right: 2.5rem; }
    @media only screen and (max-width: 50em) {
      .address__icon {
        width: 2.5rem;
        height: 2.5rem; } }

.form {
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: min-content;
  color: #263238;
  border-radius: 2px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  padding: 5rem 7rem;
  margin-bottom: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-column-gap: 10rem;
  grid-row-gap: 1rem; }
  @media only screen and (max-width: 43.75em) {
    .form {
      padding: 4rem 5rem; } }
  @media only screen and (max-width: 50em) {
    .form {
      grid-column-gap: 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .form {
      grid-template-columns: 1fr; } }
  .form__group--message {
    grid-column: 1/-1;
    margin-bottom: 2rem; }
  .form__input {
    font-size: 2rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all 0.3s; }
    .form__input--message {
      height: 20vh; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #6b738a; }
      .form__input:focus:invalid {
        border-bottom: 3px solid #db8181; }
    .form__input::placeholder {
      color: #263238;
      font-weight: 300; }
  .form__label {
    font-size: 1.5rem;
    font-weight: 400;
    color: #263238;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__btn {
    grid-column: 1/2;
    border: none;
    border-radius: 10rem;
    display: inline-block;
    background-color: #263238;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    justify-self: start;
    align-self: start; }
    .form__btn:hover {
      background-color: rgba(47, 62, 70, 0.8);
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
      transform: translateY(-2px); }
    .form__btn:active, .form__btn:focus {
      outline: none;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      transform: translateY(-1px); }

.contact-nav {
  grid-column: 3/4;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: flex-end; }
  @media only screen and (max-width: 37.5em) {
    .contact-nav {
      grid-column: 2/3; } }
  .contact-nav__icon {
    width: 7rem;
    height: 7rem;
    fill: #263238;
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05) translateY(-0.5rem); }
  100% {
    transform: scale(1); } }

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(132, 169, 140, 0.7), rgba(82, 121, 111, 0.7)), url(../img/bg.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__text-box {
    width: 80%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__text {
    font-size: 9rem;
    font-weight: 300;
    animation: moveDown 1s ease-out; }
    @media only screen and (max-width: 68.75em) {
      .header__text {
        font-size: 7rem; } }

@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }
  .header__explore {
    text-transform: uppercase;
    font-size: 2rem;
    color: #354f52;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center; }
    .header__explore::before, .header__explore::after {
      content: "";
      display: block;
      height: 0.5px;
      background-color: #547a70; }

.name {
  position: fixed;
  left: 5rem;
  height: 22rem;
  width: 20rem;
  z-index: 100; }
  .name__path {
    fill: transparent; }
  .name__text {
    font-size: 3rem;
    font-weight: 300;
    fill: #cad2c5;
    letter-spacing: 0.5rem;
    text-transform: uppercase; }
  @media only screen and (max-width: 43.75em) {
    .name {
      display: none; } }

.nav {
  position: absolute;
  width: 100%; }
  .nav__list {
    list-style: none;
    margin-right: 5rem;
    display: flex;
    justify-content: flex-end;
    transition: all 0.3s; }
    @media only screen and (max-width: 68.75em) {
      .nav__list {
        margin-right: 3rem; } }
    @media only screen and (max-width: 43.75em) {
      .nav__list {
        justify-content: space-evenly;
        margin-right: 0; } }
    @media only screen and (max-width: 28.125em) {
      .nav__list {
        display: grid;
        grid-template-columns: repeat(3, max-content); } }
  .nav__item {
    font-size: 2.5rem;
    padding: 3rem 5rem; }
    @media only screen and (max-width: 68.75em) {
      .nav__item {
        padding: 2rem 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .nav__item {
        padding: 2rem; } }
  .nav__link:link, .nav__link:visited {
    color: #2f3e46;
    text-decoration: none;
    font-weight: 500;
    padding-bottom: 1rem; }
    .nav__link:link:hover, .nav__link:visited:hover {
      color: #cad2c5; }

.btn-box {
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  font-family: "Inconsolata", monospace;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 4rem; }
  @media only screen and (max-width: 56.25em) {
    .btn, .btn:link, .btn:visited {
      padding: 1.5rem 3rem; } }

.btn-primary {
  color: #cad2c5;
  border: 2px solid #354f52;
  border-radius: 2px;
  filter: brightness(110%);
  transition: all 0.2s;
  display: flex;
  align-items: center;
  animation: moveInRight 1s ease-out; }
  .btn-primary:hover {
    background-color: rgba(84, 122, 112, 0.8);
    border: 2px solid transparent;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
    transform: translateY(-2px); }
  .btn-primary:active, .btn-primary:focus {
    outline: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transform: translateY(-1px); }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }
  .btn-primary__icon {
    width: 2rem;
    height: 2rem;
    fill: currentColor;
    margin-left: 1.5rem;
    transform: translateY(-2px); }

.btn-secondary {
  background-color: rgba(202, 210, 197, 0.6);
  border-radius: 2px;
  color: #354f52;
  transition: all 0.2s;
  animation: moveInLeft 1s ease-out; }
  .btn-secondary:hover {
    background-color: rgba(202, 210, 197, 0.7);
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
    transform: translateY(-2px); }
  .btn-secondary:active, .btn-secondary:focus {
    outline: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transform: translateY(-1px); }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.projects {
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(132, 169, 140, 0.9), rgba(82, 121, 111, 0.9)); }
  .projects__heading {
    padding: 5rem 0; }
  .projects__box {
    display: grid;
    grid-template-rows: repeat(4, 45rem) 5vh;
    grid-template-columns: 1fr 70vw 1fr;
    grid-row-gap: 12rem; }
    @media only screen and (max-width: 68.75em) {
      .projects__box {
        grid-template-columns: 1fr 80vw 1fr; } }
    @media only screen and (max-width: 50em) {
      .projects__box {
        grid-template-columns: 1fr 85vw 1fr; } }
    @media only screen and (max-width: 68.75em) {
      .projects__box {
        grid-row-gap: 10rem; } }
    @media only screen and (max-width: 56.25em) {
      .projects__box {
        grid-row-gap: 8rem; } }
    @media only screen and (max-width: 56.25em) {
      .projects__box {
        grid-template-columns: 1fr 75vw 1fr;
        grid-row-gap: 6rem; } }
    @media only screen and (max-width: 28.125em) {
      .projects__box {
        grid-template-columns: 1fr 90vw 1fr; } }

.project {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: auto auto auto auto;
  grid-row-gap: 1rem; }
  .project--1 {
    grid-column: 2/3; }
  .project--2 {
    grid-column: 2/3; }
  .project--3 {
    grid-column: 2/3; }
  .project--4 {
    grid-column: 2/3; }
  @media only screen and (max-width: 43.75em) {
    .project {
      grid-template-columns: 100%;
      justify-items: center;
      align-items: center; } }
  .project__img {
    grid-column: 1/2;
    grid-row: 1/-1;
    width: 22vw;
    align-self: center;
    justify-self: center;
    transition: all 0.5s;
    filter: drop-shadow(0 1rem 1rem rgba(0, 0, 0, 0.5)); }
    @media only screen and (max-width: 43.75em) {
      .project__img {
        display: none; } }
  .project__title {
    grid-column: 2/3;
    font-size: 3.5rem;
    font-weight: 400;
    align-self: end;
    border-bottom: 1px solid #354f52;
    width: 90%; }
    @media only screen and (max-width: 43.75em) {
      .project__title {
        grid-column: 1/-1;
        text-align: center; } }
  .project__description {
    grid-column: 2/3;
    width: 90%;
    font-size: 1.5rem; }
    @media only screen and (max-width: 43.75em) {
      .project__description {
        grid-column: 1/-1;
        text-align: center; } }
  .project__buttons {
    grid-column: 2/3;
    margin-bottom: 3rem;
    display: flex;
    align-items: flex-start; }
    .project__buttons--1 {
      margin-right: 5rem; }
    @media only screen and (max-width: 43.75em) {
      .project__buttons {
        grid-column: 1/-1; } }

.tech {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: repeat(5, max-content);
  grid-column-gap: 3rem;
  justify-items: center;
  align-items: center; }
  .tech__icon {
    grid-row: 1/2;
    width: 3rem;
    height: 3rem;
    fill: #354f52;
    transition: all 0.15s; }
    .tech__icon:hover {
      transform: scale(1.05) translateY(3px);
      fill: #2f3e46; }
    .tech__icon:hover + .tech__label {
      transform: scale(1.03) translateY(-3px);
      fill: #2f3e46; }
  .tech__label {
    grid-row: 2/3;
    color: #354f52;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase; }

.skills {
  transition: all 0.3s;
  min-height: 100vh; }
  @media only screen and (max-width: 75em) {
    .skills {
      min-height: max-content; } }
  .skills__heading {
    margin-top: 5rem;
    margin-bottom: 3rem; }

.cards {
  padding: 2rem 10rem;
  display: grid;
  margin-bottom: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  grid-gap: 7rem; }
  @media only screen and (max-width: 68.75em) {
    .cards {
      grid-gap: 4rem; } }

.card {
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 3.5rem;
  justify-content: center; }
  @media only screen and (max-width: 56.25em) {
    .card:not(:last-child) {
      margin-bottom: 2rem; } }
  .card--1 {
    background-color: #a99584; }
  .card--2 {
    background-color: #84a98c; }
  .card--3 {
    background-color: #848da9; }
    @media only screen and (max-width: 56.25em) {
      .card--3 {
        display: none; } }
    @media only screen and (max-width: 43.75em) {
      .card--3 {
        display: grid; } }
  .card__img {
    height: 25rem;
    background-size: cover;
    grid-row: 1/2;
    grid-column: 1/-1;
    z-index: 10; }
    .card__img--1 {
      background-image: linear-gradient(to right bottom, rgba(169, 149, 132, 0.4), rgba(140, 124, 109, 0.4)), url(../img/backend.jpg); }
    .card__img--2 {
      background-image: linear-gradient(to right bottom, rgba(132, 169, 140, 0.6), rgba(82, 121, 111, 0.6)), url(../img/frontend.jpg); }
    .card__img--3 {
      background-image: linear-gradient(to right bottom, rgba(132, 141, 169, 0.6), rgba(107, 115, 138, 0.6)), url(../img/interpersonal.jpg); }
  .card__name {
    grid-row: 1/2;
    grid-column: 1/-1;
    justify-self: center;
    align-self: end;
    z-index: 20;
    width: 80%;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    text-align-last: center;
    padding: 1.25rem;
    background-color: #d3decc;
    color: #2f3e46;
    font-weight: 300;
    text-transform: uppercase;
    transform: translateY(50%); }
  .card__tech {
    list-style: none;
    font-size: 2rem;
    text-align: center; }
  .card__item {
    padding: 2rem 3rem;
    color: #263238; }
    .card__item:last-child {
      margin-bottom: 2rem; }
  .card:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }

.heading-2 {
  font-size: 8rem;
  font-weight: 300;
  text-align: center; }
  @media only screen and (max-width: 68.75em) {
    .heading-2 {
      font-size: 6rem; } }

.footer {
  background-color: #263238;
  height: 20vh;
  width: 100%;
  display: grid;
  grid-template-rows: 45% 1fr;
  grid-row-gap: 3rem;
  justify-content: center;
  justify-items: center; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      height: 15vh; } }
  .footer__copyright {
    font-size: 2rem;
    text-align: center;
    align-self: end;
    color: #cad2c5;
    grid-row: 1/2; }
    .footer__copyright::after {
      content: "";
      display: block;
      border-bottom: 1px solid rgba(202, 210, 197, 0.2);
      transform: translateY(1rem);
      width: 50vw; }
  .footer__box {
    grid-row: 2/3;
    display: flex;
    justify-content: center; }
  .footer__icon {
    width: 2.25rem;
    height: 2.25rem;
    fill: #cad2c5;
    margin-right: 2rem;
    transition: all 0.1s; }
    .footer__icon:hover {
      fill: #848da9;
      transform: scale(1.1); }
