.projects {
  min-height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary, 0.9),
    rgba($color-primary-dark, 0.9)
  );

  &__heading {
    padding: 5rem 0;
  }

  &__box {
    display: grid;

    grid-template-rows: repeat(4, 45rem) 5vh;
    grid-template-columns: 1fr 70vw 1fr;

    grid-row-gap: 12rem;

    @media only screen and (max-width: $bp-tab-land-small) {
      grid-template-columns: 1fr 80vw 1fr;
    }

    @media only screen and (max-width: $bp-tab-port-small) {
      grid-template-columns: 1fr 85vw 1fr;
    }

    @media only screen and (max-width: $bp-tab-land-small) {
      grid-row-gap: 10rem;
    }

    @media only screen and (max-width: $bp-tab-port) {
      grid-row-gap: 8rem;
    }

    @media only screen and (max-width: $bp-tab-port) {
      grid-template-columns: 1fr 75vw 1fr;
      grid-row-gap: 6rem;
    }

    @media only screen and (max-width: $bp-phone-small) {
      grid-template-columns: 1fr 90vw 1fr;
    }
  }
}

.project {
  background-color: rgba($color-white, 0.3);
  box-shadow: 0 1rem 2rem (rgba($color-black, 0.4));

  border-radius: 3px;

  &--1 {
    grid-column: 2/3;
  }
  &--2 {
    grid-column: 2/3;
  }
  &--3 {
    grid-column: 2/3;
  }
  &--4 {
    grid-column: 2/3;
  }

  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: auto auto auto auto;
  grid-row-gap: 1rem;

  @media only screen and (max-width: $bp-tab-small) {
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
  }

  &__img {
    grid-column: 1/2;
    grid-row: 1/-1;
    width: 22vw;

    align-self: center;
    justify-self: center;
    transition: all 0.5s;

    filter: drop-shadow(0 1rem 1rem rgba($color-black, 0.5));

    @media only screen and (max-width: $bp-tab-small) {
      display: none;
    }
  }

  &__title {
    grid-column: 2/3;

    font-size: 3.5rem;
    font-weight: 400;
    align-self: end;
    border-bottom: 1px solid $color-bottle;
    width: 90%;

    @media only screen and (max-width: $bp-tab-small) {
      grid-column: 1/-1;
      text-align: center;
    }
  }

  &__description {
    grid-column: 2/3;

    width: 90%;
    font-size: 1.5rem;

    @media only screen and (max-width: $bp-tab-small) {
      grid-column: 1/-1;
      text-align: center;
    }
  }

  &__buttons {
    grid-column: 2/3;
    margin-bottom: 3rem;

    display: flex;
    align-items: flex-start;

    &--1 {
      margin-right: 5rem;
    }

    @media only screen and (max-width: $bp-tab-small) {
      grid-column: 1/-1;
    }
  }
}

.tech {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: repeat(5, max-content);
  grid-column-gap: 3rem;
  justify-items: center;
  align-items: center;

  &__icon {
    grid-row: 1/2;

    width: 3rem;
    height: 3rem;
    fill: $color-bottle;
    transition: all 0.15s;

    &:hover {
      transform: scale(1.05) translateY(3px);
      fill: $color-dark;
    }

    &:hover + .tech__label {
      transform: scale(1.03) translateY(-3px);
      fill: $color-dark;
    }
  }

  &__label {
    grid-row: 2/3;
    color: $color-bottle;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
  }
}
