.skills {
  transition: all 0.3s;
  min-height: 100vh;

  @media only screen and (max-width: $bp-tab-land) {
    min-height: max-content;
  }

  &__heading {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
}

.cards {
  padding: 2rem 10rem;
  display: grid;
  margin-bottom: 4rem;

  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  grid-gap: 7rem;

  @media only screen and (max-width: $bp-tab-land-small) {
    grid-gap: 4rem;
  }
}

.card {
  box-shadow: 0 1rem 1.5rem rgba($color-black, 0.2);
  margin-bottom: 5rem;

  &:not(:last-child) {
    @media only screen and (max-width: $bp-tab-port) {
      margin-bottom: 2rem;
    }
  }

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 3.5rem;
  justify-content: center;

  &--1 {
    background-color: $color-secondary;
  }

  &--2 {
    background-color: $color-primary;
  }

  &--3 {
    background-color: $color-tertiary;
    @media only screen and (max-width: $bp-tab-port) {
      display: none;
    }

    @media only screen and (max-width: $bp-tab-small) {
      display: grid;
    }
  }

  &__img {
    height: 25rem;

    background-size: cover;

    grid-row: 1/2;
    grid-column: 1/-1;
    z-index: 10;

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-secondary, 0.4),
          rgba($color-secondary-dark, 0.4)
        ),
        url(../img/backend.jpg);
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-primary, 0.6),
          rgba($color-primary-dark, 0.6)
        ),
        url(../img/frontend.jpg);
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-tertiary, 0.6),
          rgba($color-tertiary-dark, 0.6)
        ),
        url(../img/interpersonal.jpg);
    }
  }

  &__name {
    grid-row: 1/2;
    grid-column: 1/-1;
    justify-self: center;
    align-self: end;
    z-index: 20;

    width: 80%;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    text-align-last: center;
    padding: 1.25rem;
    background-color: #d3decc;
    color: $color-dark;
    font-weight: 300;
    text-transform: uppercase;
    transform: translateY(50%);
  }

  &__tech {
    list-style: none;
    font-size: 2rem;
    text-align: center;
  }

  &__item {
    padding: 2rem 3rem;
    color: $color-dark-2;

    &:last-child {
      margin-bottom: 2rem;
    }
  }

  &:hover {
    box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
  }
}
